
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');



.body {
    background-color: #EEEEEE;
}

.dik {
    color: #393E46;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.dik2 {
    color: #393E46;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    font-size: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.btn{
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    background: #222831;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#EEEEEE;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-timing-function: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}